:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-100: #ffffff;
  --color-200: #d8d4d5ea;
  --color-300: #858182;
  --color-400: #202124;
  --color-500: #86b3ce;
  --color-600: #1c5f88;
  --color-700: #113b55;
  --color-800: blue;

  --padding-100: 10px;
  --padding-150: 15px;
  --padding-200: 20px;
  --padding-300: 30px;
  --padding-400: 40px;
  --padding-500: 50px;

  --gap-100: 10px;
  --gap-200: 20px;
  --gap-300: 30px;
  --gap-400: 40px;
  --gap-500: 50px;

  --margin-100: 10px;
  --margin-200: 20px;
  --margin-300: 30px;
  --margin-400: 40px;
  --margin-500: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-100);
}

main {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  margin-top: 100px;
  align-items: center;
}

section {
  animation: animationSection 2.5s ease-in-out forwards;
}

.Bienvenida {
  animation: animation 2.5s forwards;
}

#Contact {
  animation: animationSection 2.5s ease-in-out forwards;
}

@keyframes animationSection {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes animation {
  0% {
    transform: translatey(-100%);
  }
  100% {
    transform: translatey(0);
  }
}
