#Footer {
  display: flex;
  margin-top: var(--margin-200);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: var(--color-700);
}
.navfooter {
  display: flex;
  justify-content: center;
}

.group > a > img {
  width: 30px;
  height: 30px;
}
